.card-container {
    background-image: url('../../image/cardbackimg123.jpg');
    height: 250px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
<<<<<<< HEAD
    margin-left: 35px;
=======
    margin-left: 40px;
>>>>>>> 64d2f5d792c5ddfaaab190b38e6938afb713a436
    flex-wrap: wrap;
  }
 

  .title-canatiner{
    margin-left: 80px;
    
  }

  .name-canatiner{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -80px;
    margin-left: 50px;
  }
  
  
  
  .dob-canatiner{
    margin-left: 150px;
    margin-top: 10px;
  }
  
  .gender-canatiner{
    margin-left: 150px;
    margin-top: 10px;
  }
  
  
  .mobil-canatiner{
    margin-left: 150px;
    margin-top: 10px;
  }
  

 
