.card-container {
    background-image: url('../../image/cardbackimg123.jpg');
    height: 250px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    /* margin-left: 180px; */
    flex-wrap: wrap;
    flex-direction: column;
    
  }
 

  .title-canatiner{
    margin-left: 80px;
    
  }

  .name-canatiner{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -90px;
    margin-left: 50px;
  }
  
  
  
  .date-canatiner{
   display: flex;
   justify-content: center;
    margin-left:-30px ;
    margin-top: 10px;
  }

  .month-canatiner{
    display: flex;
    justify-content: center;
     margin-left:58px ;
     margin-top: -21px;
   }

   .year-canatiner{
    display: flex;
    justify-content: center;
     margin-left:120px ;
     margin-top: -21px;
   }
  
  .gender-canatiner{
    display: flex;
   justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  
  .mobil-canatiner{
    display: flex;
    justify-content: center;
    margin-left:90px ;
     margin-top: 10px;
  }
  

 
