*{
  margin: 0%;
  padding: 0%;

}



.main{
  height: 100vw;
  background-color: black;
}
.app {

  margin-top: -40px;
  text-align: center;
  
  }

  .input{
    text-align: center;
    margin-top: 10px;

  }

  .inputtext{
    height: 40px;
    width: 350px;
    font-size: x-large;
  }

  .button{
    height: 42px;
    width: 90px;
    margin-left: 10px;
    
    font-size: x-large;
  }

                       /* \\\\\\\\\\\\\\ end \\\\\\\\\\\\\\\\\\\\\\\ */
