*{
  margin: 0%;
  padding: 0%;

}



.main{
  height: 100vw;
  background-color: black;
}
.app {

  text-align: center;
  
  
  }

  .input{
    text-align: center;
    margin-top: 50px;

  }

  .inputtext{
    height: 50px;
    width: 350px;
    font-size: x-large;
  }

  .button{
    height: 52px;
    width: 90px;
    
    font-size: x-large;
  }

                       /* \\\\\\\\\\\\\\ end \\\\\\\\\\\\\\\\\\\\\\\ */
